<h3>Overview</h3>

<form novalidate name="newIdeaForm" >
	<input type="description" ng-model="overview.query" placeholder="Search..." /><br>
</form>
<br>

<!-- FUTURE WORK: export this code to a directive -->
<div class="table-wrapper">
	<table class="table table-hover">
		<thead>
			<tr>
				<th>
					<a href="#" ng-click="overview.predicate = 'name'; overview.reverse = !overview.reverse">Name</a>
					</th>
				<th>
					<a href="#" ng-click="overview.predicate = 'description'; overview.reverse = !overview.reverse">Description</a>
				</th>
				<th>
					<a href="#" ng-click="overview.predicate = 'tags'; overview.reverse = !overview.reverse">Tags</a>
					</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="idea in overview.ideas | filter:overview.query | orderBy: overview.predicate : overview.reverse">
				<td>{{idea.name | truncate:20}}</td>
				<td>{{idea.description | truncate:40}}</td>
				<td>{{idea.tags}}</td>
			</tr>
		</tbody>
	</table>
</div>