<h3>Discuss &amp; Vote</h3>

## only to test the REST API ##
<form novalidate name="newIdeaForm" ng-submit="submitNewIdea()">
	<input type="name" required ng-model="newIdea.name" placeholder="name" /><br>
	<input type="description" required ng-model="newIdea.description" placeholder="description" /><br>
	<button type="submit">Add idea</button><br />
</form>
<br>
<div class="table-wrapper">
	<table class="table table-hover">
		<thead>
			<tr>
				<th>#</th>
				<th>First Name</th>
				<th>Last Name</th>
				<th>Username</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<th scope="row">1</th>
				<td>Mark</td>
				<td>Otto</td>
				<td>@mdo</td>
			</tr>
			<tr>
				<th scope="row">2</th>
				<td>Jacob</td>
				<td>Thornton</td>
				<td>@fat</td>
			</tr>
			<tr>
				<th scope="row">3</th>
				<td>Larry</td>
				<td>the Bird</td>
				<td>@twitter</td>
			</tr>
		</tbody>
	</table>
</div>
