
<a type="button" ui-sref="create-idea" class="btn btn-primary">Create new idea</a>

<h3>My current ideas</h3>
<!-- FUTURE WORK: export this code to a directive -->
<div class="table-wrapper">
	<table class="table table-hover">
		<thead>
			<tr>
				<th>
					<a href="" ng-click="myIdeas.predicate = 'name'; myIdeas.reverse=!myIdeas.reverse">Name</a>
				</th>
				<th>
					<a href="" ng-click="myIdeas.predicate = 'description'; myIdeas.reverse=!myIdeas.reverse">Description</a>
				</th>
				<th>
					<a href="" ng-click="myIdeas.predicate = 'tags'; myIdeas.reverse=!myIdeas.reverse">Tags</a>
					</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="idea in myIdeas.ideas | orderBy: myIdeas.predicate : myIdeas.reverse">
				<td>{{idea.name}}</td>
				<td>{{idea.description}}</td>
				<td>{{idea.tags}}</td>
			</tr>
		</tbody>
	</table>
</div>